.book-card{
    min-width: 300px;
    padding-top:20px;
    margin: 10px;
}
.book-body{
    display: inline-flex;
    flex-direction: column;
}
.book-body .owner{
    display: inline-flex;
    align-items: center;
}
.book-body .owner:first-child{
    margin-bottom: 0.7em;
}
.book-body .owner p{
    margin: 0;
}
.book-body .person i{
    color: #206ba5;
}
.book-body .location i{
    color: #dd556c;
}